body {
    line-height: 200%;
}

.btn-primary {
    background-color: #735DFE;
    border-color: transparent;
    padding: 8px 20px 8px 20px;
    border-radius: 30px;
    font-family: 'heebo', sans-serif;
    font-size: 14px;
}

.btn-secondary {
    background-color: transparent;
    border-radius: 30px;
    border-color: #735DFE;
    padding: 8px 20px 8px 20px;
    color: #735DFE;
    font-family: 'heebo', sans-serif;
    font-size: 14px;
}

.action {
    color: white;
    height: 85px;
    background: linear-gradient(90deg, rgba(135, 93, 252, 1) 0%, rgba(237, 93, 240, 0.3) 100%);
    border-radius: 30px;
}

.form-control {
    border-radius: 30px;
    background-color: rgba(115, 93, 254, 0.1);
    border-color: rgba(115, 93, 254, 0.1);
    font-family: 'nunito', sans-serif;
    font-size: 14px;
}

.friends h5 {
    color: #503AD8;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}

.friends p {
    color: #565656;
    font-size: 12px;
    font-weight: 400;
    margin-left: auto;
}

.story p {
    color: #25396F;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.content-input {
    height: 150px;
    background-color: white;
    border: 1px solid #D4D4D4;
    border-radius: 30px;
}

.posted {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-color: white;
    border: 1px solid #D4D4D4;
    border-radius: 30px;
}

.list-group .active {
    background-color: #735DFE35;
    border-color: transparent;
}

.list-group .list-group-item {
    border-color: transparent;
    margin-top: 20px;
    border-radius: 30px;
}

.kolomchat {
    margin-top: 25px;
    width: 400px;
    height: 600px;
    background-color: white;
    border: 1px solid #D4D4D4;
    border-radius: 30px;
}

.nama-teman {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #735DFE35;
}

.chatting {
    margin-top: 500px;
}

.profile-user {
    width: 600px;
    height: 200px;
    background-color: white;
    border: 1px solid #D4D4D4;
    border-radius: 30px;
}

.post-feed img {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin-top: 20px;
}

.settings .list-group-item {
    border-color: transparent;
    background-color: transparent;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #565656;
    margin-top: 0px;
    font-weight: 600;
}

.settings .active {
    border-color: transparent;
    background-color: #735DFE35;
    color: #503AD8;
    font-weight: 600;
    margin-top: 0px;
}

.kolom-settings {
    background-color: white;
    width: 100%;
    padding: 10px;
}